// *{
//    color: black;
//  }
 .main_div1 {
     background-image: url(asset-path('about.png'));
     background-size: cover;
     height: 110vh;
 }
.aboutus-introduction p{
   //   margin-top: 28%;
     margin-left: 24%;
}
.aboutus-introduction h1{
   margin-top: 24%;
   margin-left: 24%;
   }
 #aboutus-text{
   font-family: 'Varela Round', sans-serif;
   margin-left: 65%;
   margin-top: 14%;
   color: white;
 }
 #about-us-img{
   width: 30%;
   height: auto;
   margin-left: 55%;
   margin-top: 9%;
 }
.aboutus-introduction{
   width: 40%;
   height: auto;
   margin-top: -36%;
   margin-left: 5%;
}
.aboutus-introduction h1{
   color: red;
   font-family:'Varela Round', sans-serif
}
.aboutus-introduction p{
   color: black;
}
.features-icon{
   margin-top: 10%;
   margin-left: 12%;
   align-items: center;
   display: flex;
}
// #feature1{
//    width:40%;
//    height:40%;
//    margin-left:10%;
// }
#feature2{
   width: 30%;
   height: 40%;
   margin-left: 30%;
}
#feature3{
   width: 30%;
   height: 40%;
   // margin-left: 6%;
}
// .rescue-icon h2{
//    color: black;
//    margin-left: 16%;
// }
// .rescue-icon p{
//    color: black;
// }
.rehome-icon h2{
   color: black;
   margin-left: 38%;
}
.rehome-icon p{
   color: black;
   margin-left: 24%;
}
.adopt-icon h2{
   color: black;
   margin-left: 10%;
}
.adopt-icon p{
   color: black;
   // margin-left: 10%;
}

.faq-container{
   display: flex;
}

#faq-img{
   width: 30%;
   height: auto;
   margin-left: 14%;
   margin-top: 5%;
}
.aboutus-content p{
   color: black;
   font-weight: 500;
   // font-weight: bold;
   font-family: 'Varela Round', sans-serif;
   width: 84%;
}
.aboutus-content h3{
   color: #E24C4C;
   font-weight: 500;
   // font-weight: bold;
   font-family: 'Varela Round', sans-serif;
   width: 84%;
}
.aboutus-content{
   margin-left: 7%;
   margin-top: 5%;
   width: 40%;
}
.footer-widget-area{
   margin-top: 5%;
   display: flex;
   color: black;
   // border-top: 2px solid red;
   margin-left: 10%;
   margin-right: 14%;
}
.footer-widget-area-about h3,.footer-widget-area-title h3,.footer-widget-area-contact h3{
   color: #fb6a43;
   width: 20%;
}
.footer-widget-area-about p,.footer-widget-area-title p,.footer-widget-area-contact p{
   color: black;
}
.footer-widget-area-about,.footer-widget-area-title,.footer-widget-area-contact{
   margin-left: 5%;
}
.footer-widget-area-contact i{
   color: #fb6a43;
}
.footer-widget-area-about{
   width: 310px;
}
.footer-widget-area-title{
   width: 310px;
   margin-left: 10%;
}
.footer-widget-area-contact{
   width:310px;
   margin-left: 10%;
}
.nav-item-about-aboutuspage{
   background-color: #E24C4C;
   width: 150px;
   border-radius: 70px 40px;
   margin-left: 22px;
   padding-right: 2%;


}
.nav-item-about-aboutuspage a{
   margin-left: 10px;
   font-size: 20px;
   font-weight: bold;
   position: relative;
}
.nav-item-homes-nav a{
   margin-left: 4px;
   font-size: 20px;
   font-weight: bold;
   position: relative;
   border-bottom: none;
}
.footer-div{
  display: flex;
     border-top: 2px solid black;
     margin-left: 10%;
     margin-right: 14%;
}
.footer-div h3{
   font-size: 10px;
text-align: left;
color: black;
margin-left: 2%;
}
.footer-div h4{
   font-size: 10px;
   color: black;
margin-left: 68%;
}
#submit-button{
   width: 15%;
   height: 20%;
   color: #E24C4C;
}
#reset-button{
   width: 15%;
   height: 10%;
   color: #E24C4C;
}

