* {
    font-family: 'Nunito', sans-serif;
    // color: black;
}
.rehome-main_div {
    background-image: url(asset-path('homepage.jpg'));
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;  
    color: black;
    margin: 0;
    padding: 0;
    background-size: cover;
    
}
#logo{
    margin-left:-2%;
    width: 10%;
    height: 10%;
    margin-top: -2%;
}
.rehome-main-container{
    background-color:rgba(0, 0, 0, 0.81) ;
    width: 70%;
    height: 1400px;
    box-shadow: black 2px;
    margin-left: 15%;
    margin-top: -1.2%;
 }
 #input-pet-name, #input-pet-breed,#input-pet-gender,
 #input-pet-age,#input-pet-neutered,#input-pet-vaccine,#input-dogs,
 #input-cats,#input-kids,#input-image{
    width: 470px;
    height: 50px;
    color: black;
    border-radius: 5px;
    margin-left: 25px;
  }
 .rehome-main-container h1{
  margin-left: 4%;
  margin-bottom: 4%;
  color: red;
  font-size: 40px;
 }

 .rehome-main-container label{
  margin-left: 25px;
  font-size: 20px;
 }
 #input-donate{
  width: 93%;
  height: 120px;
  resize: none;
  margin-left: 25px;
  font-size: 20px;
 }
 #input-name,#input-ph-no,#input-state,#input-city{
  width: 470px;
  height: 50px;
  color: black;
  border-radius: 5px;
  margin-left: 25px;
 }
 #input-note{
  width: 93%;
  height: 120px;
  resize: none;
  margin-left: 25px;
  font-size: 20px;
 }
 #input-h2{
  font-size: 40px;
  color: red;
  margin-left: 4%;
  margin-bottom: 4%;

 }
 
  


