.nav-item-adopt-adoptpage{
    background-color: #E24C4C;
    width: 190px;
    border-radius: 70px 40px;
    margin-left: 25px;
    padding-right: 2%;
}

.nav-item-adopt-adoptpage a{
    margin-left: 8px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.vaishu{
    background-color: #292929;
}
.pet-section{
    background-color: #292929;
    height: auto;
    width: 100%;
}
.search-filters-container{
    background-color:  #D9D9D9;
    border-radius: 10px;
    width: 26%;
    height: 8vh;
    margin-left: 70%;
    margin-top: 2%;
}
.apply-filter-button{
    background-color:  #E24C4C;
    font-size: 20px;
    margin-top: 3%;
    color: white; 
    width: 31%;
    height: 5vh; 
    margin-left: 5%;
    border: none;
    border-radius: 8px;
}
.search-input{
   background-color:  #D9D9D9;
   width: 60%;
   height: 7vh;
   font-size: 20px;
   color: white;
   border-radius: 10px;
   border: none;
}
.adopt-details {
    width: 20%;
    background-color: #515151;
    display: inline-block;
    margin-left: 10%;
    margin-top: 5%;
}



.adopt-img{
    width: 250px;
    height: 280px;
    margin-top: 20px;
    margin-left: 10%;
}
#date{

//  margin-top: -100%;
 background-color: aliceblue;
 margin-left: 10%;
 margin-top: 2%;
 margin-right: 5%;
}

.adopt-body{
    margin-left: 8%;
}
.adopt-body h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    margin-left: -3%; 
    font-size: 25px;
}
.main-container{
    position: relative;
    // width: 100vw;
    background-color: #292929;

}

.sub-main{ position: relative;
    background-color: #292929;
}
.adopt-body #gender{
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -3%;
    margin-top: -20px;
    color: #CBCBCB;
}
.adopt-body #age{
    display: inline-block;
    margin-left: 2%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #CBCBCB;
}
.adopt-body #state{
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -3%;
    color: #CBCBCB;
}
.adopt-body #city{
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #CBCBCB;
}

.adopt-body h2{
    color: white;
    margin-top: -4%;
    font-size: 16px;
    margin-left: -3%;
    font-family: Arial, Helvetica, sans-serif;
}
.adopt-body hr{
    margin-top: -2%;
    margin-left: -6%;
    margin-right: 4%;
    color: black;
}
#own_name{
    display: inline-block;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif; 
    margin-left: -3%;
    margin-top: -5%;
    color: #CBCBCB;
}

#email{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif; 
    margin-left: -3%;
    color: #CBCBCB;
    margin-top: -2%;
}

.adopt-body a h3{
    margin-left: 12%;
    font-size: 20px;
    font-weight: bold;
    margin-top: -0%;
    color: #E24C4C;
}
#wishlist-icon{
    color: #E24C4C;
    font-size: 28px;
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
}
#pagination{
    margin-left: 44%;
    font-size: 25px;
    color: #E24C4C;
}
// .share-with-div hr{
//     margin-top: 2%;
// }
// .adopt-body h3{
//     font-size: 20px;
//     margin-left: 24%;
//     color: #E24C4C;
// }
// .filter-pet-section{
//     background-color:#292929 ;
// }
// .pet-section{
// display: flex;   
// background-color:#292929;
// padding-bottom: 35px;
// }

// .main-container{
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     // margin-left: 20%;
// }


