.register_main_div2{
    background-image: url(asset-path('dogster-bg.png'));
    background-size: cover;
    height: 100vh;
    display: flex;
}
    #input-box input{
       background-color: transparent ;
       border-bottom: 1px solid white;
       margin-left:18% ;
       width: 65%;
    }

    #input-box label {
        margin-left:20% ;
    }
    #input-box {
        background-color:rgba(185, 180, 180, 0.4);
        width: 50%;
        font-size: 1.2em;
        height: 92vh;  
        margin-left: 76%;  
        margin-top: 4%;
        color: white;    
    }
    #input-box p{
        color: white;
    }
    #register-btn{
        width: 65%;
        height: 5vh;
        background-color: #E24C4C;
        font-size: 25px;
        font-weight: 600;
        color: white;
        border-radius: 70px 40px;
    }
    #form3Example1cg{
        color: white;
        font-size: 20px;
    }
    #label-name{
        font-weight: 200;
        color: white;
    }
    #vaish{
        font-weight: 600;
    }
    #register-img{
       width: 10%;
       height: 10%;
       display: flex;
       position: absolute;
       margin-left:2%;
       margin-top: 1%;
    }
    // #text-area{
    //     color:#E24C4C ;
    // }
    .register_main_div2 #togglePassword{
     margin-left: 68%;
        position: absolute;
        color: white;
        margin-top: -4%;

    }
    .container{
        margin-left: 20%;
    }
    .card-body{
        margin-left: -5%;
    }
    